.match-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.match-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.data-grid-wrapper {
  width: 100%;
  margin-bottom: 1rem;
}
