.match-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.match-content-wrapper {
  max-width: 1080px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.box-score-wrapper {
  background-color: #fff;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  span {
    font-size: 1rem;
    font-weight: 700;
    color: #171e4f;
    margin: 0.5rem 0;
  }
  .MuiDataGrid-root {
    font-size: 0.8rem !important;
  }

  // [aria-colindex="1"] {
  //   background-color: yellow;
  //   position: sticky !important;
  //   left: 0 !important;
  // }

  .MuiDataGrid-footerContainer {
    display: none !important;
  }
}

.carousel .thumbs-wrapper .control-prev.control-arrow,
.carousel .thumbs-wrapper .control-next.control-arrow {
  background-color: rgba(0, 0, 0, 0.3) !important;
  height: 100%;
  top: 0;
}
