.banner-logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.banner-logo {
	display: flex;

	.logo {
		display: flex;
		height: 20vw;
		margin: -1rem -1rem -1rem -1rem;
	}
}

.banner-team-name {
	align-content: center;
	font-size: 150%;
	font-style: italic;
}
